/* *{border: 1px solid gray;} */

.post-meta{font-size:small;font-style:italic;}

#title,#top-wrapper,#sidebar-wrapper,#footer{margin-top:100px;}

#nav-wrapper{margin-top:50px;}

#posts{margin-bottom:50px;}

.widget-spacer{height:20px;}

.h6custom{font-size:1em;}

#header-wrapper {
background-color:#cfcfcf;
	overflow: hidden;
	width: 100%;
padding:7px 0px 7px 0px;
height:27px;
}

#header-left {
	width: auto;
	float: left;

}

#header-right {
	width: 500px;
	float: right;
text-align:right;
}

#searchform{position:absolute;right:250px;}

#translation{position:absolute;right:7px;top:8px;}

#title{text-align:center;}

#top-wrapper {

	overflow: hidden;
	width: 100%;
}

#all-entry-wrapper {
	width: 80%;
	float: left;
overflow:hidden;
}

/* POSTS INHERITS SIZE FROM ALL-ENTRY-WRAPPER */

#posts {
	width: 76%; 
	float: right;

}

/* DATE MUST ADD UP TO WIDTH OF DATE + 2% + WIDTH OF POSTS */

#date {
	width: 22%;
	float: left;
text-align:right;
font-size:1.5em;
font-weight:bold;
}

#optsidebar {
	width: 18%;
	float: right;

}

#nav-wrapper {

	overflow: hidden;
	width: 62%;
    margin-left: auto;
    margin-right: auto;
}

#nav-past {
	width: 49%;
	float: left;

}

#nav-future {
	width: 49%;
	float: right;
text-align:right;
}

#sidebar-wrapper {

	overflow: hidden;
	width: 62%;
    margin-left: auto;
    margin-right: auto;
}

#sidebar1 {
	width: 49%;
	float: left;

}

#sidebar2 {
	width: 49%;
	float: right;

}


#footer{text-align:center;}

#tagline{text-align:center;}

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
 	border: 0; 
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* 

ol, ul {
	list-style: none;
}
*/

ol, ul, li, p{
 	border: 0; 
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
 	border: 0; 
	outline: 0;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

/* cssstickyfooter.com */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 50px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

/* http://codex.wordpress.org/CSS#WordPress_Generated_Classes */

.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}